* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	color: rgb(77, 58, 9);
}

body {
	background-color: rgb(0, 128, 0);
	margin: 0;
	padding: 0;
}

h1 {
	background-color: black;
	border: 1vmin solid white;
	width: 100%;
	margin: 0 auto;
	margin-left: 50%;
	padding: 10vmin;
	justify-self: center;
}

#ace-tableau {
	display: flex;
	flex-direction: column;
	width: 1080px;
	margin: 0 auto;
	margin-left: 0;
}

#game {
	display: flex;
	flex-direction: row-reverse;
}

#menu-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4vmin;
	background-color: rgb(0, 100, 0);
	border-bottom: 0.2vmin dashed rgb(0, 0, 0);
	padding: 0;
	margin: 0;
}

#ace-piles {
	display: flex;
	height: 20vmin;
	justify-content: space-evenly;
	margin-top: 4vmin;
	margin-bottom: 5vmin;
}

.ace-pile {
	margin: 3vmin, 3vmin, 0;
}

#tableau {
	display: flex;
	justify-content: space-evenly;
}

#draw-piles {
	display: flex;
	align-self: end;
	margin: 10vmin;
}

#tableau-draw {
	display: flex;
	flex-direction: row-reverse;
}

.column {
	display: flex;
	flex-direction: column;
	margin-top: 5vmin;
}

.column > .card {
	margin-top: -95%;
}

.column > .card:not(.outline) {
	border: 0.5vmin solid rgb(226, 226, 226);
}

.card.xx {
	border: 0.5vmin solid rgb(255, 255, 255);
}

.ace-pile > .card:not(.outline) {
	border: 0.5vmin solid rgb(226, 226, 226);
}

.card:hover:not(.xx) {
	background-color: rgb(226, 226, 226);
	border-color: lightgray;
}

.card:active:not(.xx) {
	background-color: white;
}

#stock-pile:not(.outline) {
	border: 0.5vmin solid rgb(226, 226, 226);
}

#stock-pile:hover {
	background-color: rgb(226, 226, 226);
	border-color: lightgray;
}

#waste-pile:not(.outline) {
	border: 0.5vmin solid lightgray;
}

#reset-button {
	background-color: burlywood;
	font-size: medium;
	padding: 0.5vmin;
	width: 10vmin;
	border-radius: 20%;
	border: 0.25vmin solid black;
}

#reset-button:hover {
	background-color: rgb(77, 58, 9);
	color: burlywood;
}

#reset-button:active {
	background-color: lightgray;
	color: gray;
}

#moves {
	background-color: burlywood;
	padding: 0.5vmin;
	border-radius: 20%;
	border: 0.25vmin solid black;
}

#timer {
	background-color: burlywood;
	padding: 0.5vmin;
	border-radius: 20%;
	border: 0.25vmin solid black;
}
